name: main-latest

on:
  workflow_dispatch:
  push:
    branches: [ main ]

permissions: write-all # just let it do everything

jobs:

  prepare:
    runs-on: ubuntu-latest
    steps:
      - name: Prepare release ID
        id: prep
        run: |
          echo "created=$(date -u +'%Y%m%d-%H%M')" >> "$GITHUB_OUTPUT"
    outputs:
      created: ${{ steps.prep.outputs.created }} # refer to as ${{needs.prepare.outputs.created}}

  build:
    needs: [ prepare ]
    runs-on: ${{ matrix.runner }}
    strategy:
      fail-fast: false # let other jobs try to complete if one fails
      matrix:
        include:
          - { id: 'r5s', branch: "r5s", config: "diffconfig.r5s.final",  runner: "ubuntu-24.04-arm", git_owner_repo: "rpardini/openwrt", git_url: "https://github.com/rpardini/openwrt.git" }
          - { id: 'r6c', branch: "r5s", config: "diffconfig.r5c.final",  runner: "ubuntu-24.04-arm", git_owner_repo: "rpardini/openwrt", git_url: "https://github.com/rpardini/openwrt.git" }
    steps:
      # Clean runner to have more disk space
      - name: Free Disk Space (GH-hosted runner)
        if: ${{ matrix.runner == 'ubuntu-24.04-arm' }} # only for hosted runners
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: true
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true

      - name: "Checkout ${{ matrix.git_url }} at ${{ matrix.branch }}"
        uses: actions/checkout@v4
        with:
          repository: ${{ matrix.git_owner_repo }}
          ref: ${{ matrix.branch }}
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }} # github username or org
          password: ${{ secrets.GITHUB_TOKEN }}    # github actions builtin token. repo has to have pkg access.

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3

      - name: Build ${{ matrix.id }} ${{ matrix.branch }} ${{ matrix.config}}
        uses: docker/build-push-action@v6
        with:
          #target: # unset, builds the final stage
          load: true # load the final stage, which is just alpine with the built artifacts
          context: .
          file: ./Dockerfile # not local to this repo -- see actions/checkout above
          pull: false # don't pull.
          push: false # don't push, load is enough
          tags: ${{ matrix.id }}-build-image:${{ matrix.id }}
          # caching's not worth the trouble and compression/transmit/decompression time
          build-args: |
            MACHINE_ID=${{matrix.id}}
            OPENWRT_CONFIG=${{ matrix.config }}
            RELEASE_VERSION=${{needs.prepare.outputs.created}}

      - name: Extract artifacts from docker ${{ matrix.id }} ${{ matrix.branch }} ${{ matrix.config}}
        run: docker cp $(docker create --rm ${{ matrix.id }}-build-image:${{ matrix.id }}):/out ./

      # Release the artifacts into GitHub Releases
      - name: Release ${{ matrix.id }} ${{ matrix.branch }} ${{ matrix.config}}
        uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "${{needs.prepare.outputs.created}}-${{ matrix.id }}"
          prerelease: false
          title: "${{ matrix.id }} - ${{needs.prepare.outputs.created}}"
          files: |
            out/*
